{% load staticfiles %}
<html>
    <head>
        <title>Moodary</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,400italic' rel='stylesheet' type='text/css'>
    </head>
	<body>
    		<div class="page-header">
       			 <a href="/"><img src="http://40.media.tumblr.com/2517db8454234eab994f0ca5eccf0633/tumblr_o5vw6e1Q2c1qbgb0co1_500.png" alt="Moodary" style="width:400px;height:80px;"></a>
			 <br>
			 <h2><a href="/cocktails" >Cocktails</a>     
			 <a href="/shop" >Shop</a>   
			 <a href="/drinkresponsibly" >Drink Responsibly</a>
			 <a href="/moods" >Moods</a></h2>
   		</div>
   		<div class="content container">
        		<div class="row">
            			<div class="col-md-8">
            			{% block content %}
            			{% endblock %}
            			</div>
        		</div>
    		</div>
	</body>
</html>