{% load staticfiles %}
<html>
    <head>
	<link rel="icon" href="http://36.media.tumblr.com/f2f5522b8f870e7cb15e1a7af00e07d3/tumblr_o65jthXNNq1qbgb0co1_75sq.png">
        <title>Moodary</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,400italic' rel='stylesheet' type='text/css'>
    </head>
	<body>
    		<div class="page-header">
       			 <a href="/"><img src="http://40.media.tumblr.com/2517db8454234eab994f0ca5eccf0633/tumblr_o5vw6e1Q2c1qbgb0co1_500.png" alt="Moodary" style="width:400px;height:80px;"></a>
			 <br>
			 <h2><a href="/cocktailslist">Cocktails List</a>    &nbsp; 
			 <a href="/shop" >Shop</a> &nbsp;
			 <a href="https://www.drinkaware.co.uk/" >Drink Aware</a></h2>
   		</div>
   		<div class="content container">
        		<div class="row">
            			
				<div class="row">
					<br>
					<ul>
						<br>
						<li><a href="/happy">Happy</a></li>
				        	<li><a href="/sad">Sad</a></li>
						<li><a href="/fun">Fun</a></li>
						<li><a href="/excited">Excited</a></li>
						<li><a href="/hungry">Hungry</a></li>
						<li><a href="/lazy">Lazy</a></li>
						<li><a href="/tired">Tired</a></li>
						<li><a href="/party">Party</a></li>
						<li><a href="/fancy">Fancy</a></li>
						<li><a href="/pitcher">Pitcher</a></li>
						<li><a href="/flirty">Flirty</a></li>
						<br><br>
					</ul>
				</div>
					{% block content %}
					{% endblock content %}
            			
        		</div>
    		</div>
	</body>
</html>