{% extends 'blog/base.html' %}

{% block content %}

	<div class="post">
            
            <h5><br>Welcome to Moodary! <br> 
	    What mood are you in? Click on the left to find the perfect cocktail recipe for your mood or if you're feeling lucky, go for a <a href="/surprise" >random cocktail</a>. </h5>
	    <a class="twitter-timeline" href="https://twitter.com/hashtag/moodary" data-widget-id="724346580694884352">#moodary Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	   </div>

{% endblock %}