{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
<br>
<ul>
	<br>
	<li><a href="/happy">Happy</a></li>
        <li><a href="/sad">Sad</a></li>
	<li><a href="/fun">Fun</a></li>
	<li><a href="/excited">Excited</a></li>
	<li><a href="/hungry">Hungry</a></li>
	<li><a href="/lazy">Lazy</a></li>
	<li><a href="/tired">Tired</a></li>
	<li><a href="/party">Party</a></li>
	<li><a href="/fancy">Fancy</a></li>
	<li><a href="/pitcher">Pitcher</a></li>
	<li><a href="/flirty">Flirty</a></li>
	<br><br>
</ul>
</div>


{% endblock %}