{% extends 'blog/base.html' %}

{% block content %}
			
	<div class="post">
            
	          



<script>
  (function() {
    var cx = '011687804491247508478:zktzyi04wya';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

{% endblock %} 