
.page-header {
    margin-left: 300px;
    background-color: #F5FC12;
    margin-top: 0;
    padding: 20px 20px 20px 50px;
    position: fixed;
    width: 100%;
    border-bottom: 10px solid #555;
    border-left: 10px solid #555;


}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    text-decoration: none;
    text-align: left
    
}

.page-header h1 a:hover {
    color: #478040;
}

ul {
	list-style-type: none;
	margin-top: 173px;
	margin-left: -45px;
	height: 100%;
	padding: 0;
	width: 300px;
	background-color: #BEFF7F;
	font-family: 'Raleway', sans-serif;
	position: fixed;
	overflow: auto;
	border-right: 10px solid #555;
	border-top: 10px solid #555;

}

li a {
	display: block;
	color: #000;
	-o-transition: color 0.5s linear;
	-moz-transition: color 0.5s linear;
	-khtml-transition: color 0.5s linear;
	-webkit-transition: color 0.5s linear;
	-ms-transition: color 0.5s linear;
	transition: color 0.5s linear;
	-o-transition: background-color 0.5s linear;
	-moz-transition: background-color 0.5s linear;
	-khtml-transition: background-color 0.5s linear;
	-webkit-transition: background-color 0.5s linear;
	-ms-transition: background-color 0.5s linear;
	transition: background-color 0.5s linear;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	text-align:center;
	font-size: 30pt;
}

li a:hover {
	background-color: #555;
	color: white;
}

.active {
	background-color: #555;
	color: white;
}


a.hoverbubble {
  position: relative;
  text-decoration: none;
}

a.hoverbubble span {display: none;}

a.hoverbubble:hover span {
display: block;
position: absolute;
padding: .5em;
content: attr(title);
min-width: px;
text-align: center;
width: auto;
height: auto;
white-space: nowrap;
top: -40px;
background: #000008;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
color: #fff;
font-size: 0.86em;
font-family: 'Raleway', sans-serif;
}

a.hoverbubble:hover span:after {
position: absolute;
display: block;
content: "";
border-color: #000008 transparent transparent transparent;
border-style: solid;
border-width: 10px;
height: 0;
width: 0;
position: absolute;
bottom: -20px;
left: 1em;
}


.content {

    margin-left: 60px;
}


a:hover {
 cursor:pointer;
} 


h1 a {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 30pt;
}

h2 a {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 30pt;
}

h3 a {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 30pt;
}

h4 a {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 30pt;
}

h5 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 30pt;
    text-align: center;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #FFFFFF;
    float: right;
    font-size: 30pt;
    margin-right: 50px;
}

.post {
    margin-bottom: -150px;
        margin-left: 300px;
    margin-top: 200px;
    font-family: 'Raleway', sans-serif;
}

.post h2 a, .post h2 a:visited {
    color: #BEFF7F;
}

.post h2 a, .post h2 a:hover {
    color: #F5FC12;
}


.post h5 a, .post h5 a:visited {
    color: #BEFF7F;
}

.post h5 a, .post h5 a:hover {
    color: #F5FC12;
}

.footer {
   position:fixed;
   float: right;
   right:-1100px;
   bottom:80px;
   height:30px;
   width:100%;
   background:#FFFFFF;
}


/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/food/foo-5/foo483.cur), progress !important;} /* End http://www.cursors-4u.com */